<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<!--
<link rel="stylesheet" th:href="@{/css/style.css}" />
-->
<link rel="stylesheet" th:href="@{/css/example.css}" />
<head>
<meta charset="UTF-8">
<title>Account Transactions</title>
</head>
<body>

<div>
    <ul>
        <li><a href="#home">Home</a></li>
        <li><a href="#news">Payments</a></li>
        <li class="dropdown">
            <a href="javascript:void(0)" class="dropbtn">Accounts</a>
            <div class="dropdown-content">
                <a th:each="account : ${accounts}" th:href="${account.accountNameOwner}" th:text="${account.accountNameOwner}"></a>
            </div>
        </li>
        <li><a href="create">Create Transaction</a></li>
        <li><a href="#find">Find Transactions</a></li>
    </ul>
</div>

<div class="title">
    <h2>Finance App</h2>
</div>

<!--
<div class="controls">
    <select class="form-control" name="example" id="example_id">
        <option value="0">ALL</option>
        <option th:each="account : ${accounts}" th:value="${account.accountId}" th:text="${account.accountNameOwner}">
        </option>
    </select>
</div>
-->

    <div>
        <table>
            <thead>
                <tr>
                    <th>id</th>
                    <th>date</th>
                    <th>description</th>
                    <th>category</th>
                    <th>amount</th>
                    <th>cleared</th>
                    <th>notes</th>
                </tr>
            </thead>
            <tbody class="alternate">
                <tr class="lalign" th:each="transaction : ${transactions}">
                    <td th:text="${transaction.transactionId}"></td>
                    <!--${#dates.format(sprint.releaseDate, 'dd-MMM-yyyy')}-->
                    <td th:text="${transaction.transactionDate}"></td>
                    <td th:text="${transaction.description}"></td>
                    <td th:text="${transaction.category}"></td>
                    <!--${#numbers.formatDecimal(transaction.amount, 0, 'COMMA', 2, 'POINT')} -->
                    <td th:text="${#numbers.formatDecimal(transaction.amount, 0, 'COMMA', 2, 'POINT')}"></td>
                    <td th:text="${transaction.cleared}"></td>
                    <td th:text="${transaction.notes}"></td>
                </tr>
            </tbody>
        </table>
    </div>
</body>
</html>
